
/* Active state for Block Apps card */
.action-card.active {
    background-color: var(--primary-blue);
    border-color: var(--primary-blue);
}

.action-card.active span {
    color: var(--white);
}

.action-card.active .action-icon {
    background-color: rgba(255, 255, 255, 0.2) !important;
    color: var(--white) !important;
}
